.transactionHistory {
  width: 50%;
  margin: 20px auto;
}
thead tr {
  background-color: #95a5a6;
}
tr {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  text-align: left;

  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
thead {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.col-1 {
  flex-basis: 30%;
}
.col-2 {
  flex-basis: 30%;
}
.col-3 {
  flex-basis: 15%;
}
